<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Previsión tiempo sevilla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-list >
      <ion-item *ngFor="let estadoCielo of estadosCielos">
        <!--{{estadoCielo.value}} -->
        <ion-img style="width: 2rem;" src="../../assets/icon/{{estadoCielo.value}}_g.png" alt={{estadoCielo.value}}/>
        {{estadoCielo.periodo}} 
        {{estadoCielo.descripcion}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
