<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="buscar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="nuevoAlumno()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let alumno of alumnos; let indice=index;">
    <ion-grid>
      <ion-row>
        <ion-col size=8>{{alumno.last_name}}, {{alumno.first_name}}</ion-col>
        <ion-col size=1></ion-col>
        <ion-col size=1>
          <button ion-button icon-only (click)="modificarAlumno(indice)" danger>
            <ion-icon name="create-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col size=1>
          <button ion-button icon-only (click)="eliminarAlumno(indice)" danger>
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </ion-col>
        <ion-col size=1></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item *ngIf="first_name_busqueda=='' && last_name_busqueda==''"> 
    <ion-button (click)="primeraPagina()"  *ngIf="numPagina>1">
      <ion-icon slot="icon-only" name="play-back-outline"> </ion-icon>
    </ion-button>
    <ion-button (click)="paginaAnterior()" *ngIf="numPagina>1">
      <ion-icon slot="icon-only" name="arrow-back-outline"> </ion-icon>
    </ion-button>
    <ion-button (click)="paginaSiguiente()">
      <ion-icon slot="icon-only" name="arrow-forward-outline"> </ion-icon>
    </ion-button>
  </ion-item>
</ion-content>