<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{municipio.municipio}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let estadoCielo of estadosCielo">
    <ion-grid>
      <ion-row>
        <ion-col size=3>Tª max</ion-col>
        <ion-col size=3>Tª mín</ion-col>
        <ion-col size=3>Horario</ion-col>
        <ion-col size=3>Cielo</ion-col>
      </ion-row>
      <ion-row>        
        <ion-col size=3>{{Temperatura.maxima}}</ion-col>
        <ion-col size=3>{{Temperatura.minima}}</ion-col>
        <ion-col size=3>{{estadoCielo.periodo}}</ion-col>
        <ion-col size=3>
          <ion-img style="width:50%"  src="../../assets/icon/{{estadoCielo.value}}_g.png" [title]="estadoCielo.descripcion"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
